*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header-container{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: white;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title-logo{
    font-size: 1.5rem;
    margin: 1rem;
}
.sign-list{
    margin: 1rem 2rem 1rem;
}
.sign-list  a, .link {
    display: inline-block;
    margin-left: 1.6rem;
    font-size: 1rem;
    text-decoration: none;
    list-style-type: none;
    padding: 0.2em;
    cursor: pointer;
    color: black;
}
.sign-list a:visited, .link:visited {
    color: black;
}
.sign-list a:hover{
    font-weight: 500;
    margin-left: 1.325rem;
}
.hamburger{
    margin: 0;
    padding: 0;
    margin-right: 1.2rem;
    background: none;
    font-weight: 400;
    display: none;
    transition: color 0.15s ease-out ;
}
.hamburger:hover{
    color: goldenrod;
}
.hamburger:focus{
    outline: none;
}
.hamburger i {
    margin-left: 4px;
}
#meow{
    font-size: 5rem;
    text-align: center;
    margin-top: 9rem;
    color: goldenrod;
}


@media (max-width: 600px) {
    .sign-list{
        margin: 0;
        position: fixed;
        inset: 65px 0 0 0;
        padding: 0 1rem;
        background-color: rgb(250, 250, 250);
        transform: translateX(-100%);
        transition: transform 0.4s ease-out;
    }
    .sign-list a {
        display: block;
        padding: 0.4rem;
        margin: 0 0 1.2rem 0;
        transition: all 0.15s ease-out;
    }
    .hamburger {
        display: block;
    }
    
    #meow{
        font-size: 3rem;
    }
    .user{
        font-size: 1.4rem;
    }
}
