*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header-container{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: white;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title-logo{
    font-size: 1.5rem;
    margin: 1rem;
}
.sign-list{
    margin: 1rem 2rem 1rem;
}
.sign-list  a, .link {
    display: inline-block;
    margin-left: 1.6rem;
    font-size: 1rem;
    text-decoration: none;
    list-style-type: none;
    padding: 0.2em;
    cursor: pointer;
    color: black;
}
.sign-list a:visited, .link:visited {
    color: black;
}
.sign-list a:hover{
    font-weight: 500;
    margin-left: 1.325rem;
}
#meow{
    font-size: 5rem;
    text-align: center;
    margin-top: 9rem;
    color: goldenrod;
}
